<h1>Welcome To Angular</h1>

<div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFlex="20" style="height: 30px; background-color: red;"></div>
  <div fxFlex="25" style="height: 30px; background-color:yellow;"></div>
  <div fxFlex="20" style="height: 30px; background-color: green;"></div>
  <div fxFlex.xs="10" style="height: 30px; background-color: orangered;"></div>
</div>

<nav>
  <a routerLink="/interpolation">interpolation</a>
  <a routerLink="/twowaybinding">Two Way Binding</a>
  <a routerLink="/propertybind">Property Bind Example</a>
  <a routerLink="/ngif">ngIf</a>
  <a routerLink="/ngswitch">ngSwitch</a>
  <a routerLink="/ngfor">ngFor</a>
  <a routerLink="/clickevent">Click Event</a>
</nav>

<router-outlet></router-outlet>
<!-- <app-interpolation></app-interpolation>
<app-two-way-data-binding></app-two-way-data-binding>
<app-property-binding></app-property-binding>
<app-structural-directice-ng-if></app-structural-directice-ng-if>
<app-structural-directice-ng-switch></app-structural-directice-ng-switch>
<app-structural-directice-ng-for></app-structural-directice-ng-for>
<app-click-event></app-click-event> -->